.font_0 {
    font: normal normal bold 106px/1.4em sacramento, cursive;
    color: #FFFFFF;
}

.font_1 {
    font: normal normal bold 16px/1.4em raleway, sans-serif;
    color: #FFFFFF;
}

.font_2 {
    font: normal normal normal 25px/1.4em raleway, sans-serif;
    color: #FFFFFF;
}

.font_3 {
    font: normal normal bold 120px/1.4em raleway, sans-serif;
    color: #FFFFFF;
}

.font_4 {
    font: normal normal bold 94px/1.4em raleway, sans-serif;
    color: #FFFFFF;
}

.font_5 {
    font: normal normal bold 38px/1.4em sacramento, cursive;
    color: #FFFFFF;
}

.font_6 {
    font: normal normal normal 36px/1.4em helvetica-w01-light, helvetica-w02-light, sans-serif;
    color: #B6B6B6;
}

.font_7 {
    font: normal normal normal 18px/1.4em raleway, sans-serif;
    color: #FFFFFF;
}

.font_8 {
    font: normal normal normal 15px/1.4em raleway, sans-serif;
    color: #FFFFFF;
}

.font_9 {
    font: normal normal normal 14px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
    color: #FFFFFF;
}

.font_10 {
    font: normal normal normal 12px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
    color: #FFFFFF;
}

.info-text {
    font-size: 20px;
    line-height: 1.3em;
    font-family: belinda-w00-regular,script;
    letter-spacing: 0.05em;
}

.info-text-black {
    color: #000000;
}

.wedding-title {
    font-size: 69px; 
    font-weight:normal;
    color: #000000;
    line-height: 1.2em; 
    text-align: center;
}

.wedding-subtitle {
    font-size: 41px;
    font-family: sacramento,cursive;
    color: #000000;
    line-height: normal;
    word-wrap: break-word;
    position: absolute;
    bottom: -52px;
}

.wedding-names {
    font-size: 92px; 
    line-height :1.2em; 
    text-align: center;
    font-family: fredericka the great,fantasy;
    color: #000000;
}

.wedding-text {
    left: 331px;
    width: 614px;
    position: absolute;
    top: 141px;
}

.date-info-title {
    font-weight: normal;
    font-family:fredericka the great,fantasy;
    color:#000000;
    font-size:100px; 
    line-height:1em;
}

.date-info-title-yellow {
    color:#F7E07C;
}

.bold-text {
    color:#000000;
    letter-spacing: 0.05em;
    vertical-align: bottom;
}

.blue-bold {
    font-weight: bold;
    font-family: belinda-w00-regular,script;
    font-size: 20px;
    color: #0B114D;
}

.underline-text {
    text-decoration: underline;
}

.transport-info .font_5 {
    vertical-align: inherit;
    font: normal normal 22px/1.4em belinda-w00-regular,script;
    color: #F5EE6E;
}

.transport-info span {
    font: normal normal 22px/1.4em sacramento,cursive;
    color: #FFFFFF;
    display: block; 
}

@media screen and (max-width: 800px) {
    .wedding-text {
        position: relative;
        top: 0px;
        left: 0px;
        width: auto;
    }

    .wedding-subtitle {
        position: relative;
        bottom: 0px;
        text-align: center;
        line-height: 36px;
    }

    .date-info-title {
        font-size: 45px;
    }

    .wedding-title {
        font-size: 63px;
    }

    .wedding-names {
        font-size: 80px;
    }
}