html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,
dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,
label,legend,table,caption,tbody,tfoot,thead,tr,th,td,nav,button,section,header,footer,title {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

.background {
    position: absolute; 
    top: 0px; 
    width: 100%; 
    background-size: auto; 
    background-position: left top; 
    background-repeat: repeat-x; 
    height: 100%; 
    background-image: url("../images/background.webp");
    background-attachment: fixed;
}

header {
    position: relative;
    width: 980px;
    height: 585px;
    margin: 0 auto;
}

.wedding-logo {
    left: 30px;
    position: absolute;
    top: 146px;
    width: 264px;
    height: 260px;
}

.icon-next-section {
    left: 447px; 
    width: 85px; 
    position: absolute; 
    top: 487px; 
    height: 52px;
}

.icon-next-section svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #2F2E2E;
    fill-opacity: 0.35;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 0px;
}

.icon-next-section a {
    display: block;
    height: 100%;
}

.bride-groom-photo {
    width: 100%;
    vertical-align: middle;
}

.date-info {
    background-size: auto;
    background-repeat: repeat;
    background-position: center center;
    background-image: url("../images/blue-background.png");
    width: 100%;
    height: 667px;
    padding-top: 91px;
}

.text-info {
    width: 980px;
    position: relative;
    margin: 0 auto;
    padding-left: 123px;
}

.spark {
    width: 103px;
    position: absolute;
    transform: rotate(328deg) translateZ(0px);
    top: -43px;
    height: 100px;
    right: 365px
}

.spark svg {
    width: 100%;
    height: 100%;
    margin: auto;
    fill: #F7E07C;
    fill-opacity: 1;
    stroke: rgba(11, 17, 77, 1);
    stroke-width: 0px;
}

.spark a {
    display: block;
    height: 100%;
}

.ring-wrapper {
    right: 180px;
    position: absolute;
    transform: rotate(336.059deg) translateZ(0px);
    bottom: 2px;
    width: 122px;
    height: 181px;
}

.ring-wrapper img {
    width: 122px; 
    height: 181px; 
    object-fit: cover;
}

.location-info {
    margin-top: 30px;
    width: 380px;
    display: inline-block;
    vertical-align: top;
}

.svg-wrapper {
    vertical-align: bottom;
    display: inline-block;
    margin-bottom: 30px;
}

.svg-wrapper svg {
    width: 57px;
    height: 57px;
    fill: #F7E07C;
    fill-opacity: 1;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 0px;
    margin-right: 20px;
}

.svg-wrapper a {
    display: block;
    height: 100%;
}

.column-right-gutter {
    margin-right: 70px;
}

.button-more-info {
    width: 254px;
    height: 40px;
    background-color: rgba(49, 99, 93, 1);
    font: normal normal 700 24px/1.4em 'amatic sc', cursive;
    color: #000000;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    padding-left: 38px;
    line-height: 39px;
    text-decoration: none;
    margin-top: 30px;
}

.button-more-info::after{
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    right: -40px;
    border-width: 20px;
    border-color: transparent transparent transparent rgba(49, 99, 93, 1);;
}

.button-more-info:hover::after {
    border-left-color: #F7E07C;
}

.button-more-info:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: rgba(247, 224, 124, 1);
}

.go-to-map {
    cursor: pointer;
    margin-top: 150px;
}
.go-to-map span{
    color: #000000;
    vertical-align: top;
}

.go-to-map svg {
    width: 41px;
    height: 25px;
    margin: auto;
    fill: #000000;
    fill-opacity: 1;
    stroke: rgba(255, 255, 255, 1);
    margin-right: 15px;
}

.location-map img {
    margin: 20px auto;
    display: block;
}

.map-canvas {
    width:850px;
    height:404px;
    background-color:black;
    margin: 30px auto;
}

.arrow-right {
    transform: rotate(180deg) translateZ(0px);
}

.transport-info {
    padding-top: 80px;
    background-image: url("../images/tiled-gray-background.png");
    background-size: auto;
    background-repeat: repeat;
    background-position: center center;
    width: 100%;
}

.transport-info .spark svg {
    transform: rotate(234deg) translateZ(0px);
}

.transport-info .spark {
    width: 103px;
    position: absolute;
    transform: rotate(360deg) translateZ(0px);
    top: -55px;
    height: 100px;
    left: 65px;
}