html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,
dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,
label,legend,table,caption,tbody,tfoot,thead,tr,th,td,nav,button,section,header,footer,title {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

.background {
    position: absolute; 
    top: 0px; 
    width: 100%; 
    background-size: auto; 
    background-position: left top; 
    background-repeat: repeat-x; 
    height: 100%; 
    background-image: url("../images/background.webp");
    background-attachment: fixed;
}

header {
    position: relative;
    width: 980px;
    height: 585px;
    margin: 0 auto;
}

.wedding-logo {
    left: 30px;
    position: absolute;
    top: 146px;
    width: 264px;
    height: 260px;
}

.icon-next-section {
    left: 447px; 
    width: 85px; 
    position: absolute; 
    top: 487px; 
    height: 52px;
}

.icon-next-section svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #2F2E2E;
    fill-opacity: 0.35;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 0px;
}

.icon-next-section a {
    display: block;
    height: 100%;
}

.bride-groom-photo {
    width: 100%;
    vertical-align: middle;
}

.date-info {
    background-size: auto;
    background-repeat: repeat;
    background-position: center center;
    background-image: url("../images/blue-background.png");
    width: 100%;
    height: 667px;
    padding-top: 91px;
}

.text-info {
    width: 980px;
    position: relative;
    margin: 0 auto;
    display: block;
}

.spark {
    width: 103px;
    position: absolute;
    transform: rotate(328deg) translateZ(0px);
    top: -43px;
    height: 100px;
    right: 365px
}

.spark-test {
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url("../images/spark-colorized.svg");
    width: 50px;
    height: 51px;
}

.spark svg {
    width: 100%;
    height: 100%;
    margin: auto;
    fill: #F7E07C;
    fill-opacity: 1;
    stroke: rgba(11, 17, 77, 1);
    stroke-width: 0px;
}

.spark a {
    display: block;
    height: 100%;
}

.ring-wrapper {
    right: 180px;
    position: absolute;
    transform: rotate(336.059deg) translateZ(0px);
    bottom: 2px;
    width: 122px;
    height: 181px;
}

.ring-wrapper img {
    width: 122px; 
    height: 181px; 
    object-fit: cover;
}

.location-info {
    margin-top: 30px;
    width: 380px;
    display: inline-block;
    vertical-align: top;
}

.svg-wrapper {
    vertical-align: bottom;
    display: inline-block;
    margin-bottom: 30px;
}

.svg-wrapper svg {
    width: 57px;
    height: 57px;
    fill: #F7E07C;
    fill-opacity: 1;
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 0px;
    margin-right: 20px;
}

.svg-wrapper a {
    display: block;
    height: 100%;
}

.column-right-gutter {
    margin-right: 70px;
}

.button-more-info {
    border-radius: 20px;
    background-color: #F9DF7E;
    font: normal normal 700 24px/1.4em 'amatic sc', cursive;
    color: #000000;
    display: inline-block;
    position: relative;
    padding-left: 30px;
    line-height: 39px;
    text-decoration: none;
    margin-top: 30px;
    padding-right: 30px;
    transition: background-color 0.4s ease 0s;
}

.button-more-info:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #2b689c;
}

.go-to-map {
    cursor: pointer;
    margin-top: 150px;
}
.go-to-map span{
    color: #000000;
    vertical-align: top;
}

.go-to-map svg {
    width: 41px;
    height: 25px;
    margin: auto;
    fill: #000000;
    fill-opacity: 1;
    stroke: rgba(255, 255, 255, 1);
    margin-right: 15px;
}

.location-map img {
    margin: 20px auto;
    display: block;
}

.map-canvas {
    width:850px;
    height:404px;
    background-color:black;
    margin: 30px auto;
}

.map-canvas iframe {
    width: 850px;
    height: 404px;
}

.arrow-right {
    transform: rotate(180deg) translateZ(0px);
}

.transport-info {
    padding-top: 80px;
    background-image: url("../images/tiled-gray-background.png");
    background-size: auto;
    background-repeat: repeat;
    background-position: center center;
    width: 100%;
    min-height: 575px;
}

.transport-info .text-info:first-of-type {
    margin-bottom: 70px;
    width: 860px;
}

.transport-info .date-info-title {
    font-size: 80px;
}

.transport-info .spark svg {
    transform: rotate(234deg) translateZ(0px);
}

.transport-info .spark {
    width: 103px;
    position: absolute;
    transform: rotate(360deg) translateZ(0px);
    top: -55px;
    height: 100px;
    left: -47px;
}

.transport-info .groomsmen {
    height: auto;
    width: 206px;
    padding-bottom: 10px;
    padding-top: 0px;
    display: inline-block;
}

.transport-info .groomsmen span {
    line-height: 35px;
}

.transport-info .groomsmen-large {
    width: auto;
    padding: 0px 15px;
}

.groomsmen-hint {
    font-size: 22px;
    font-family: belinda-w00-regular,script;
    color: #000000;
    text-align: center;
    right: 0px;
    width: 320px;
    position: absolute;
    top: 85px;
}

.center-content {
    text-align: center;
}

.groomsmen-left {
    display: inline-block;
    height: 255px;
    width: 200px;
    margin-right: 50px;
    vertical-align: top;
}

.groomsmen-center {
    display: inline-block;
    height: 225px;
    width: 340px;
    text-align: center;
    margin-right: 50px;
}

.groomsmen-center .groomsmen {
    margin-bottom: 15px;
}

.groomsmen-center .groomsmen:last-child{
    margin-bottom: 0px;
}

.groomsmen-right {
    display: inline-block;
    height: 255px;
    width: 200px;
    vertical-align: top;
}

.transport-info .fullfilled-heart{
    width: 41px;
    height: 32px;
    object-fit: cover;
    margin-top: 56px;
}

.transport-info .heart{
    width: 33px;
    height: 30px;
    object-fit: cover;
    transform: rotate(32.136deg) translateZ(0px);
    margin-top: 56px;
    margin-left: 80%;
}

.hotels-list {
    font-family: belinda-w00-regular,script;
    font-size: 20px;
    font-weight: bold;
    list-style-type: disc;
}

.hotels-list li{
    color: #0B114D;
}

.transport-info {
    padding-bottom: 30px;
}

.transport-info p, li {
    line-height: normal;
}

.transport-info .svg-wrapper svg {
    width: 70px;
}

.heart-icon {
    position: absolute;
    transform: rotate(21.54deg) translateZ(0px);
    width: 44px;
    height: 40px;
    left: 350px;
    bottom: 75px;
}

.hint {
    color: #BA7D84;
    background-color: #0b114d;
    border-radius: 20px;
    text-align: center;
    font-size: 22px;
    font-family: amatic sc,cursive;
    font-weight: bold;
    width: 415px;
    height: 64px;
    padding-top: 10px;
    margin-top: 15px;
}

.gift-list {
    padding-top: 100px;
    background-color: #A78080;
    text-align: center;
    padding-bottom: 30px;
}

.gift-list h3 {
    font-size: 77px;
}

.gift-list .spark {
    transform: rotate(321deg) translateZ(0px);
    top: -57px;
    right: -20px;
}

.gift-icon-wrapper {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.gift-icon {
    height: 60px;
    width: 60px;
}

.gift-list p {
    font-family: belinda-w00-regular,script;
    font-size: 22px;
    color: #000000;
    max-width: 700px;
    margin: 0 auto;
}

.gift-soon {
    color: #ffffff;
    font-size: 30px;
    font-family: soho-w01-thin-condensed,soho-w02-thin-condensed,serif;
    text-align: center;
    padding: 20px 40px;
    width: 140px;
    border-left: 3px solid #12184D;
    border-right: 3px solid #12184D;
    margin: 40px auto;
}

.gift-soon .color_23 {
    font-weight: bold;
}

.gift-list .hint {
    width: 700px;
    color: #ffffff;
    font-weight: normal;
    margin: 0 auto;
}

.gift-list .text-info {
    padding-left: 0px;
}

.rsvp {
    padding-top: 100px;
    padding-bottom: 160px;
    text-align: center;
}

.rsvp .text-info {
    padding-left: 0px;
}

.rsvp .amatic {
    font-family: 'amatic sc', cursive;
    font-size: 22px;
}

.rsvp p {
    font-family: belinda-w00-regular,script;
    font-size: 24px;
    color: #000000;
    max-width: 700px;
    margin: 20px auto;
}

.rsvp .spark svg {
    transform: rotate(234deg) translateZ(0px);
}

.rsvp .spark {
    width: 103px;
    position: absolute;
    transform: rotate(360deg) translateZ(0px);
    top: -60px;
    height: 100px;
    left: 290px;
}

.confirm-band {
    width: 355px;
    height: 84px;
    margin: 0 auto;
}

.confirm-band a {
    text-decoration: none;
    color: #ffffff;
}

.confirm-band a:hover {
    text-decoration: none;
    color: #BA7D84;
    transition: color 0.4s ease 0s;
}

.confirm-band span {
    position: absolute;
    top: 262px;
    left: 375px;
    font: normal normal 700 30px/1.4em 'amatic sc', cursive
}

.confirm-band svg {
    width: 100%;
    height: 100%;
    fill: #31635D;
    fill-opacity: 1;
    stroke: rgba(255, 255, 255, 1);
}

.rsvp .hint {
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    color: #ffffff;
    padding: 15px 40px 10px 40px;
    font-weight: bold;
}

.rsvp .hint span {
    display: block;
    line-height: 60px;
}

.rsvp .hint span:last-of-type {
    font-size: 24px;
}

.rsvp .input-group {
    width: 260px;
    display: inline-block;
    vertical-align: top;
}

.rsvp input[type=text] {
    background-color: rgba(186, 125, 132, 0.4);
    font: normal normal normal 15px/1.4em raleway, sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid rgba(11, 17, 77, 1);
    color: #FFFFFF;
    margin: 0 0 5px;
    padding: 5px;
    width: 92%;
}

.rsvp input[type=submit] {
    display: block;
    border: 0;
    color: #234070;
    cursor: pointer;
    background-color: rgba(235, 197, 42, 1);
    font: normal normal normal 18px/1.4em raleway, sans-serif;
    padding: 5px;
    position: absolute;
    right: 32px;
}

.rsvp textarea {
    background-color: rgba(186, 125, 132, 0.4);
    font: normal normal normal 15px/1.4em raleway, sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid rgba(11, 17, 77, 1);
    color: #FFFFFF;
    margin: 0 0 5px;
    padding: 5px;
    width: 260px;
    resize: none;
    height: 101px;
}

.rsvp input, textarea {
    outline: none;
}

.phone-info {
    text-align: center;
    margin-top: 40px;
}

.phone-info span {
    display: block;
    color: #0B114D;
    font-family: amatic sc,cursive;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.phone-info span:first-of-type {
    font-family: sacramento,cursive;
    font-weight: bold;
    font-size: 25px;
}

footer {
    background-color: #0b114d;
    width: 100%;
    position: fixed;
    bottom: 0px;
    border-bottom: 33px solid #a58181;
}

footer nav {
    height: 56px;
    display: block;
    margin: 0 auto;
    width: 980px;
}

footer nav ul {
    padding-top: 17px;
    text-align: center;
}

footer nav a {
    text-decoration: none;
    color: #F7E07C;
    cursor: pointer;
    /* #B6B6B6 */
}

footer nav li:first-of-type {
    border-left: none;
}

footer nav li {
    display: inline-block;
    border-left: 1px solid rgba(35, 64, 112, 1);
    font: normal normal normal 16px/1.4em 'fredericka the great', fantasy;
    transition: color 0.4s ease 0s;
    display: inline-block;
    padding: 0 12px;
}

@media screen and (max-width: 800px) {
    header {
        width: 100%;
        height: 100%;
    }

    .text-info {
        width: 97%;
        padding-left: 3%;
    }

    footer, .icon-next-section {
        display: none;
    }

    .wedding-logo {
        margin: 40px auto;
        margin-top: 15vh;
        display: block;
        position: relative;
        left: 0px;
        top: 0px;
        width: 100px;
        height: 100px;
    }

    .date-info {
        height: auto;
        padding-top: 40px;
    }

    .spark {
        width: 50px;
        position: absolute;
        transform: rotate(328deg) translateZ(0px);
        height: 50px;
        right: 30%;
        top: -30%;
    }

    .ring-wrapper {
        right: 10%;
        position: absolute;
        transform: rotate(336.059deg) translateZ(0px);
        top: 35%;
        width: 72px;
        height: 85px;
    }

    .ring-wrapper img {
        width: 67px;
        height: 99px;
        object-fit: cover;
    }

    .go-to-map {
        padding-top: 30px;
        padding-bottom: 10px;
        margin-top: 0px;
        text-align: center;
    }

    .map-canvas {
        width: auto;
        height: 400px;
    }
    
    .map-canvas iframe {
        width: 100%;
        height: 100%;
    }

    .transport-info {
        padding-top: 30px;
    }

    .transport-info .date-info-title {
        font-size: 50px;
    }

    .transport-info .text-info {
        padding-left: 8%;
        width: 92%;
    }

    .transport-info .text-info:first-of-type {
        margin-bottom: 30px;
    }

    .transport-info .text-info:first-of-type {
        padding-left: 8%;
        width: 92%;
    }

    .transport-info .spark {
        width: 50px;
        position: absolute;
        transform: rotate(360deg) translateZ(0px);
        height: 43px;
        left: 0%;
        top: -30%;
    }

    .transport-info .text-info-center {
        width: 100%;
        padding: 0;
    }

    .groomsmen-center {
        margin-right: 0;
    }

    .groomsmen-left {
        width: 80%;
        height: auto;
        margin-right: 0;
    }

    .groomsmen-right {
        width: 80%;
        height: auto;
        margin-right: 0;
        margin-top: 20px;
    }

    .groomsmen-hint {
        position: relative;
        margin-top: 20px;
        top: 0px;
    }

    .transport-info .hint {
        width: 92%;
        font-size: 24px;
        height: auto;
    }

    .transport-info .heart, .transport-info .fullfilled-heart {
        display: none;
    }

    .heart-icon {
        position: absolute;
        transform: rotate(21.54deg) translateZ(0px);
        width: 44px;
        height: 40px;
        right: 8%;
        bottom: 12%;
    }

    .location-info {
        width: 100%;
    }

    .column-right-gutter {
        margin-right: 0px;
    }

    .gift-list {
        padding-top: 40px;
    }

    .gift-list .date-info-title {
        font-size: 50px;
    }

    .gift-list .spark {
        transform: rotate(321deg) translateZ(0px);
        top: 3%;
        right: 3%;
    }

    .gift-list .hint {
        width: 100%;
        font-size: 25px;
        height: auto;
    }

    .rsvp {
        padding-bottom: 20px;
    }

    .rsvp .spark {
        width: 50px;
        height: 50px;
        left: 100px;
        top: -3%;
    }

    .confirm-band span {
        top: 279px;
        left: 89px;
    }

    form[name=contactForm] {
        margin: 0 auto;
        margin-top: 22px;
    }

    .rsvp input[type=submit] {
        right: 63px;
    }

    .rsvp .input-group {
        display: block;
    }

    .rsvp input[type=text] {
        width: 100%;
    }
}