header {
    height: 585px;
}

.icon-next-section {
    top: 85%;
}

.text-info {
    margin-top: 50px;
}

.date-info {
    padding-top: 30px;
    height: auto;
    padding-bottom: 200px;
}

.date-info-title {
    color: #ffffff;
    font-size: 68px;
}

.yellow {
    color: #F7E07C;
}

.strong-yellow {
    color: #F5EE6E;
}

.info-box {
    margin-top: 50px;
    background-color: #ba7d84;
    width: 885px;
    box-shadow: -1.09px 6.9px 4px 0px rgba(0,0,0,0.49);
    padding-left: 25px;
}

.info-box h3 {
    font-family: fredericka the great,fantasy;
    color: #0B114D;
    font-size: 34px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 23px;
}

.campinas-image {
    display: inline-block;
    margin-top: 50px;
    margin-right: 15px;
}

.campinas-text {
    display: inline-block;
    width: 420px;
    vertical-align: top;
    margin-top: 32px;
}

.campinas-text p {
    text-align: center;
    font: normal normal normal 14px/1.4em raleway,sans-serif;
    color: #FFFFFF;
    letter-spacing: normal;
    margin-bottom: 16px;
    line-height: normal;
}

.campinas-text p.yellow {
    color: #F7E07C;
    font-weight: bold;
    padding-bottom: 20px;
}

.tape {
    background: url("../images/tape.png") no-repeat;
    width: 78px;
    height: 40px;
    position: absolute;
    display: inline-block;
    top: -20px;
    left: 43%;
}

.tape-bottom {
    top: 96%;
}

.travel-info {
    font-family: amatic sc,cursive;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 34px;
}

.svg-wrapper {
    margin-bottom: 10px;
}

.svg-wrapper svg {
    vertical-align: top;
    width: 78px;
    height: 46px;
}

.font_5 {
    letter-spacing: 0.05em;
}

.margin-left {
    margin-left: 70%;
}

.campinas-text h3 {
    color: #0B114D;
    font-family: amatic sc,cursive;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.hotels-info {
    height: auto;
    width: auto;
}

.hotels-info p {
    line-height: 35px;
}

.hotels-info p.yellow {
    font-family: amatic sc,cursive;
    font-weight: bold;
    font-size: 25px;
    color: #F7E07C;
}

.hotel-info .tape-bottom {
    top: 99%
}

@media screen and (max-width: 800px) {
    header {
        width: 100%;
        height: 100%;
    }

    .date-info-title {
        font-size: 45px;
    }

    .text-info {
        width: 97%;
        padding-left: 3%;
    }

    .text-info:first-of-type {
        margin-top: 15px;
    }

    footer, .icon-next-section {
        display: none;
    }

    .wedding-logo {
        margin: 40px auto;
        margin-top: 15vh;
        display: block;
        position: relative;
        left: 0px;
        top: 0px;
        width: 100px;
        height: 100px;
    }

    .date-info {
        height: auto;
        padding-top: 40px;
        padding-bottom: 25px;
    }

    .transport-info .text-info {
        padding-left: 8%;
        width: 92%;
    }

    .info-box {
        width: 91%;
        height: auto;
    }

    .campinas-image {
        width: 92%;
    }

    .campinas-text {
        width: 92%;
    }

    .tape {
        top: 98%;
        left: 40%;
    }

    .hotel-info .tape {
        top: -20px;
    }

    .hotel-info .tape-bottom {
        top: 96%;
    }

    .margin-left {
        margin-left: 28%;
    }

    .hotel-info .tape-bottom {
        top: 99.5%
    }
}